*{
margin: 0;
padding: 0;
}

#cabecalho {
    height: 100px;
    background-color:crimson(212,212,192)
    margin: 0 auto;
}

#menu {
    width: 20%;
    height: 600px;
    background-color:darkcyan(185,180,174);
    float: left;
    margin-top: 10px;

}

#principal {
    width: 80%
    height: 600px;
    background-color:
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
}















} 

















}